<h2 class="p-3 mb-2 bg-primary text-white text-center">
  Insurance Agent Signup Page
</h2>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <fieldset class="form-group">
          <input
            formControlName="email"
            placeholder="Email Address"
            class="form-control form-control-lg"
            id="email"
            type="email"
            required
          />
          <div *ngIf="email !== null && (email.dirty || email.touched)">
            <div
              class="mt-2 alert-xs alert-danger"
              role="alert"
              *ngIf="email.invalid; else invaliddomain"
            >
              Invalid Email Format
            </div>
            <ng-template #invaliddomain>
              <div
                class="mt-2 alert-xs alert-danger"
                role="alert"
                *ngIf="invalidDomain()"
              >
                Test is invalid word for email
              </div>
            </ng-template>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <input
            formControlName="password"
            placeholder="Password"
            id="password"
            class="form-control form-control-lg"
            type="password"
            required
          />
        </fieldset>
        <fieldset class="form-group">
          <input
            formControlName="firstName"
            placeholder="First Name"
            id="firstName"
            class="form-control form-control-lg"
            type="text"
            required
          />
        </fieldset>
        <fieldset class="form-group">
          <input
            formControlName="lastName"
            placeholder="Last Name"
            id="lastName"
            class="form-control form-control-lg"
            type="test"
            required
          />
        </fieldset>
        <button
          class="btn btn-lg btn-primary pull-xs-right"
          type="submit"
          id="Signup"
        >
          Signup
        </button>
        <div class="mt-5 alert alert-danger" role="alert" *ngIf="isFormInvalid">
          Not an email or Please fill all fields.
        </div>
        <div class="mt-5 alert alert-danger" role="alert" *ngIf="isUserExisted">
          User Existed
        </div>
      </form>
    </div>
  </div>
</div>
