<div>
  <h1>Register</h1>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <fieldset class="form-group">
    <input
      formControlName="email"
      placeholder="Email"
      class="form-control form-control-lg"
      type="text"
    />
  </fieldset>
  <fieldset class="form-group">
    <input
      formControlName="password"
      placeholder="Password"
      class="form-control form-control-lg"
      type="password"
    />
  </fieldset>
  <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
    Register
  </button>
</form>
