<h2 class="p-3 mb-2 bg-primary text-white text-center">
  Insurance Agent Login Page
</h2>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset class="form-group">
          <input
            formControlName="email"
            placeholder="Email Address"
            class="form-control form-control-lg"
            id="email"
            type="email"
            required
          />
          <div *ngIf="email !== null && (email.dirty || email.touched)">
            <div
              class="mt-2 alert-xs alert-danger"
              role="alert"
              *ngIf="email.invalid; else invaliddomain"
            >
              Invalid Email Format
            </div>
            <ng-template #invaliddomain>
              <div
                class="mt-2 alert-xs alert-danger"
                role="alert"
                *ngIf="invalidDomain()"
              >
                Test is invalid word for email
              </div>
            </ng-template>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <input
            formControlName="password"
            placeholder="Password"
            id="password"
            class="form-control form-control-lg"
            type="password"
            required
          />
        </fieldset>
        <button
          class="btn btn-lg btn-primary pull-xs-right"
          type="submit"
          id="login"
        >
          Login
        </button>
        <div class="mt-5 alert alert-danger" role="alert" *ngIf="isFormInvalid">
          Please fill all fields.
        </div>
        <div
          class="mt-5 alert alert-danger"
          role="alert"
          *ngIf="areCredentialsInvalid"
        >
          Invalid email or password.
        </div>
      </form>
    </div>
  </div>
</div>
