<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset class="form-group">
          <input
            formControlName="email"
            placeholder="Email"
            class="form-control form-control-lg"
            id="email"
            type="email"
            required
          />
        </fieldset>
        <fieldset class="form-group">
          <input
            formControlName="password"
            placeholder="Password"
            id="password"
            class="form-control form-control-lg"
            type="password"
            required
          />
        </fieldset>
        <button
          class="btn btn-lg btn-primary pull-xs-right"
          type="submit"
          id="login"
        >
          Login
        </button>
        <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid">
          Please fill all fields.
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="areCredentialsInvalid"
        >
          Invalid email or password.
        </div>
      </form>
    </div>
  </div>
</div>
