<a class="nav-link" routerLink="/agent/{{ agentID }}" routerLinkActive="active"
  >Home</a
>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <fieldset class="form-group">
          <input
            formControlName="name"
            placeholder="name"
            class="form-control form-control-lg"
            id="customer-name"
            type="text"
            required
          />
        </fieldset>
        <fieldset class="form-group">
          <input
            formControlName="insuranceName"
            placeholder="insurance name"
            class="form-control form-control-lg"
            id="insurance-name"
            type="text"
            required
          />
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label">Date Activated</label>
          <input
            formControlName="dateActivated"
            placeholder="MM/DD/YYY"
            class="form-control form-control-lg"
            id="date-activated"
            type="date"
            required
          />
        </fieldset>
        <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
          Register
        </button>
        <div class="mt-5 alert alert-danger" role="alert" *ngIf="isFormInvalid">
          Please fill all fields.
        </div>
      </form>
    </div>
  </div>
</div>
