<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Number of Insurances</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>
        <a routerLink="/customer/{{ customer._id }}">{{ customer.name }}</a>
      </td>
      <td>{{ customer.insurances.length }}</td>
      <td>
        <div *ngIf="customer?.insurances?.length === 0; else active">
          Zero Insurance
        </div>
        <ng-template #active>
          <div *ngIf="!isPartialActive(customer.insurances); else partial">
            Inactive
          </div>
        </ng-template>
        <ng-template #partial>
          <div
            *ngIf="
              customer?.insurances?.length > 1 &&
                isPartialActive(customer.insurances);
              else all
            "
          >
            Partial Active
          </div>
        </ng-template>
        <ng-template #all>Active</ng-template>
      </td>
      <td>
        <button (click)="onDelete(customer._id)" class="del">x</button>
      </td>
    </tr>
  </tbody>
</table>
