<a
  class="nav-link"
  routerLink="/agent/{{ customer.agentID }}"
  routerLinkActive="active"
  >Home</a
>
<h1>Customer Name: {{ customer.name }}</h1>
<app-addnewinsurance
  [customerID]="customer._id"
  [agentID]="customer.agentID"
></app-addnewinsurance>
<table class="table">
  <thead>
    <tr>
      <th>Insurance Name</th>
      <th>Date Activated</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let insurance of customer?.insurances">
      <td>{{ insurance.name }}</td>
      <td>{{ insurance.dateActivated | date: "shortDate" }}</td>
      <td>
        <span *ngIf="isActive(insurance); else inactive">Active</span>
        <ng-template #inactive>Inactive</ng-template>
      </td>
      <td>
        <button (click)="onDelete(customer._id, insurance._id)" class="del">
          x
        </button>
      </td>
    </tr>
  </tbody>
</table>
